h1 {
    color: #FFF;
    font-family: Staatliches;
    font-size: 48px;
    font-weight: normal;
}

p, label {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    color: white;
}

body {
    background: #EFEFEF;
}

body::before {
    content: '';
    width: 100%;
    height: 466px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #535971;
}

header {
    width: 750px;
    margin: auto;
    margin-top: 140px;
}

header p {
    width: 417px;
    margin-top: 18px;
}

form {
    background-color: white;
    width: 750px;
    margin: auto;
    margin-top: 58px;
    border: 0;
    border-radius: 20px 20px 0 0;
    padding: 64px;
    min-height: 300px;
}

form fieldset {
    border: none;
}

form fieldset legend {
    color: #535971;
    font-family: Staatliches;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
    border-bottom: 1px solid #E6E6F0;
    width:100%;
    padding-bottom: 16px;
    padding-left: 0;
    margin-bottom: 36px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form h1 {
    color: #535971;
    font-size: 24px;
    font-weight: normal;
}

.input-wrapper label {
    color: #4E4958;
    font-size: 14px;
    margin-bottom: 8px;
}

.input-wrapper input {
    width: 95%;
    height: 56px;
    border-radius: 8px;
    border: 1px solid var(--Back-Lines-in-white, #E6E6F0);
    background: var(--Shapes-02, #FAFAFC);
    padding: 0 16px;
}

.input-wrapper label span {
    margin-left: 10px;
    color: #C1BCCC;
    font-size: 12px;
}

.name-surname{
    display: flex;
    gap: 50px;
}

.name-surname > div:nth-child(1){
    width: 45%;
}

.name-surname > div:nth-child(2){
    width: 45%;
}

.cols-3 {
    display: flex;
    gap: 50px;
}


.cols-3 > div:nth-child(1){
    width: 45%;
}

.cols-3 > div:nth-child(2){
    width: 45%;
}

.cols-2 {
    display: flex;
    gap: 42px;
}

.cols-2 > div:nth-child(1){
    width: 50%;
}

.cols-2 > div:nth-child(2){
    width: 50%;
}

footer {
    width: 750px;
    height: 58px;
    padding: 64px;
    flex-shrink: 0;
    margin: auto;
    border: 0;
    border-radius: 0 0 20px 20px;
    background: #535971;
}

footer button {
    width: 100%;
    height: 56px;
    border: 0;

    color: #FFF;
    font-family: Staatliches;
    font-size: 20px;
    font-weight: normal;

    border-radius: 20px;
    background: #FF5374;
}